### Custom restrictions ###
build/
*.jar
#файл module2.jar из п 2.1.b по-прежнему не должен игнорироваться/
!module2.jar
**/application-local.properties
.idea/
.idea_copy/
!.idea_copy/workspace.xml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store